

{{#if validated.complexVisited}}
<p>You have chosen this page {{validated.complexVisited}} time(s)</p>
{{/if}}


<div class="results-card" style="padding-bottom:1em;border-bottom:3px solid #666;margin-bottom: 2em">



        <div class="result-name-address" style="float:left;width:500px">
          <p style="margin-bottom:0;padding-bottom: 0"><span style="font-size: 1.33em"><strong>London OOH Service</strong></span>

            <br>St Pancras Hospital, 4 St Pancras Way</p>

        </div>

        <div class="result-type-wait" style="float: right;text-align: right;font-size: 1.2em">
          <span class="dos-result-wait" style="background-color:#fe9;border-radius: 1em;padding:0.2em 0.66em">Wait time: <strong>2h 35m</strong></span>

          <span class="dos-result-servicetype" style="background-color:#9df;border-radius: 1em;padding:0.2em 0.66em"><strong>GP OOH</strong></span>

        </div>

        <br clear="all"><!-- needed to tidy up after the floated elements -->







        <div style="float:left;width:540px">
          <details>

            <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true" style="">
              <span class="summary">More information</span>
            </summary>
        
              <div class="" id="details-content-0" aria-hidden="false" style="display:block;">

                <div  style="max-width:630px;">

                  <p style="font-size: 18px">St Pancras Hospital, 4 ST PANCRAS WAY, LONDON, NW1 0PE</p>

                  <p style="font-size: 18px">REFERRAL CRITERIA:<br>
                  Service is available to registered and unregistered patients residing within the London boroughs of Barnet, Enfield, Haringey, Camden and Islington.</p>

                  <p style="font-size: 18px">This service accepts direct booking. Please follow instructions within Adastra to book appointment. If you get a warning sign that appointments are full, please reject and click on one of the NCL IUC Clinical Hub Contact DoS options.</p>

                  <p style="font-size: 18px">If there is an operational problem, 111/IUC staff can contact the LCW Supervisor Line on 03000 339 910.</p>

                  <p style="font-size: 18px">EXCLUSIONS:<br>
                  Patients not residing within north central London.</p>
                </div>
              </div>

          </details>
        </div>




        



        <div style="float:left;width:420px">
          <details style="">

            <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true" style="color:black;text-align: right">
              <span class="summary" style="text-decoration: none;">Full opening hours</span>

              
                <span class="dos-result-open" style="font-size:1em;display:inline-block;min-width: 100px;background-color:#ae9;padding:0.3em 0.66em 0.33em 0.66em;margin:-0.1em 0 0 4em"><strong>Open now</strong></span>

              
            </summary>
        
              <div class="" id="details-content-0" aria-hidden="false" style="display:block;">

                <div style="">

                  
                  <table>
                    <tr>
                      <td>Monday</td><td>00:00 - 07:59 </td>
                    
                      <td><span style="color:#999">then</span></td><td>19:00 - 23:59 </td>
                    </tr>

                    <tr>
                      <td>Tuesday</td><td>00:00 - 07:59 </td>
                    
                      <td><span style="color:#999">then</span></td><td>19:00 - 23:59 </td>
                    </tr>

                    <tr>
                      <td>Wednesday</td><td>00:00 - 07:59 </td>
                    
                      <td><span style="color:#999">then</span></td><td>19:00 - 23:59 </td>
                    </tr>

                    <tr>
                      <td>Thursday</td><td>00:00 - 07:59 </td>
                    
                      <td><span style="color:#999">then</span></td><td>19:00 - 23:59 </td>
                    </tr>

                    <tr>
                      <td>Friday</td><td>00:00 - 07:59 </td>
                    
                      <td><span style="color:#999">then</span></td><td>19:00 - 23:59 </td>
                    </tr>

                    <tr>
                      <td>Saturday</td><td>00:00 - 23:59 </td>
                    </tr>

                    <tr>
                      <td>Sunday</td><td>00:00 - 23:59 </td>
                    </tr>

                    <tr>
                      <td>Public Holidays</td><td>00:00 - 23:59 </td>
                    </tr>
                  </table>

                </div>
              </div>

          </details>
        </div>


        


        

        <br clear="all"><!-- needed to tidy up after the floated elements -->


        </div><!-- end results card -->



<hr>
<a href="/docs/guides/examples/simple-page-flow.md">View source</a>